<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mer_param_wechat">
	<resultMap id="BaseResultMap" type="map">
		<id column="merchant_id" jdbcType="VARCHAR" property="merchant_id" />
		<result column="app_id" jdbcType="VARCHAR" property="app_id" />
		<result column="third_merchant_id" jdbcType="VARCHAR"
			property="third_merchant_id" />
		<result column="key" jdbcType="VARCHAR"
			property="key" />
		<result column="cert" jdbcType="LONGVARCHAR"
			property="cert" />
	</resultMap>

	<select id="select" resultMap="BaseResultMap">
		select a.merchant_id,a.app_id from
		mer_param_wechat a
	</select>
</mapper>
