<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomstatus">
  <resultMap id="BaseResultMap" type="map">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId" />
    <result column="job_id" jdbcType="VARCHAR" property="jobId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="sign_date" jdbcType="CHAR" property="signDate" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hospital_id, job_id, level, sign_date, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room_status
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from room_status
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="map">
    insert into room_status (id, hospital_id, job_id, 
      level, sign_date, status)
    values (#{id,jdbcType=VARCHAR}, #{hospitalId,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{signDate,jdbcType=CHAR}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into room_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="jobId != null">
        job_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="signDate != null">
        sign_date,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null">
        #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null">
        #{signDate,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update room_status
    <set>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null">
        job_id = #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null">
        sign_date = #{signDate,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="map">
    update room_status
    set hospital_id = #{hospitalId,jdbcType=VARCHAR},
      job_id = #{jobId,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      sign_date = #{signDate,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>
